.App {
  /* text-align: center; */
  background-color: #0a192f;

}
@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
  padding: 5rem 5rem 0rem 5rem;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  
}

@media screen and (max-width: 550px) {
  .body {   
    padding: 3rem 1.8rem 0rem 1.8rem;
    height: 100vh;
  }
}